<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <script>

        const url = "expense/allexpenses"

        function createRow(expense) {
            let date = String(expense.date)
            shortDate = date.split("T")[0]
            const row = `
                    <tr>
                        <td>${expense.serialNo}</td>
                        <td>${expense.description}</td>
                        <td>${shortDate}</td>
                        <td>${expense.amount}</td>
                    </tr>`
            return row
        }

        function onGetRecordsSuccess(result) {
            hideAll();
            $("table").show()
            $.each(result, function (index, value) {
                const row = createRow(value)
                $("table tbody").append(row)
            })
        }

        function showRecords() {
            $.get(url, onGetRecordsSuccess);
        }

        function findRecords() {
            const desc = $("#txtSearch").val()
            const findUrl = `Expense/FindByDescription?description=${desc}`
            $.get(findUrl, onGetRecordsSuccess);
        }

        function findRecordsDate() {
            const date = $("#txtSearchDate").val()
            const findUrl = `Expense/FindByDate?date=${date}`
            $.get(findUrl, onGetRecordsSuccess);
        }

        function findRecordsMonth() {
            const month = $("#txtSearchMonth").val()
            const findUrl = `Expense/FindByMonth?month=${month}`
            $.get(findUrl, onGetRecordsSuccess);
        }

        function addRecord() {
            hideAll()
            $("#divAdd").show()
            onCancel()
        }

        function onCancel() {
            $("input").val("")
        }

        function onUpdate() {
            const desc = $("#txtDescription").val()
            const date = $("#txtDate").val()
            const amount = $("#txtAmount").val()

            let expense = {
                "serialNo": 0,
                "description": desc,
                "date": date,
                "amount": amount
            }


            const url = "Expense/AddExpense";
            $.post(url, expense, (res) => alert(res));
        }

        function populate(expense) {
            $("#txtDescription").val(expense.description)
            $("#txtDate").val(expense.date)
            $("#txtAmount").val(expense.amount)
        }

        function hideAll() {
            $("#divAdd").hide()
            $("table").hide()
            $("table tbody tr").remove();
            $("#txtSearch").hide()
            $("#txtSearchDate").hide()
            $("#txtSearchMonth").hide()
        }

        function showDescription() {
            hideAll()
            $("#txtSearch").show()
        }

        function showDate() {
            hideAll()
            $("#txtSearchDate").show()
        }

        function showMonth() {
            hideAll()
            $("#txtSearchMonth").show()
        }

        function init() {
            hideAll()
            $("#btnShow").click(showRecords);
            $("#btnAdd").click(addRecord);
        }

        $(document).ready(function () {
            init();
            $("#btnSaveChanges").click(onUpdate);
            $("#btnCancelChanges").click(onCancel);

            $("#btnDescription").click(showDescription);
            $("#btnDate").click(showDate);
            $("#btnMonth").click(showMonth);

        });
    </script>
</head>
<body style="background-color: bisque">
    <nav class="navbar bg-dark">
        <button id="btnShow" class="btn btn-info m-4">Show records</button>
        <button id="btnDescription" class="btn btn-primary m-4">Find by description</button>
        <button id="btnDate" class="btn btn-primary m-4">Find by date</button>
        <button id="btnMonth" class="btn btn-primary m-4">Find by month</button>
        <button id="btnAdd" class="btn btn-secondary m-4">Add record</button>
    </nav>
    <h1>Personal Expenses Tracker</h1>
    <hr>
    <div>
        <p>This app is used to track your personal expenses</p>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <input type="search" id="txtSearch" placeholder="Search by description" class="form-control" onchange="findRecords()" />
                <input type="date" id="txtSearchDate" placeholder="Search by date" class="form-control" onchange="findRecordsDate()" />
                <input type="month" id="txtSearchMonth" placeholder="Search by month" class="form-control" onchange="findRecordsMonth()" />
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Serial No.</th>
                            <th>Description</th>
                            <th>Date</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                    <div id="divAdd">
                        <p>
                            <input placeholder="Description" required class="form-control" id="txtDescription" />
                        </p>
                        <p>
                            <input placeholder="Date" type="date" required class="form-control" id="txtDate" />
                        </p>
                        <p>
                        <input placeholder="Amount" type="number" min="0.01" required pattern="[0-9]+" class="form-control" id="txtAmount" />
                        </p>
                        <p>
                            <button id="btnSaveChanges" onclick="addMovie()" class="btn btn-info">Save Changes</button>
                            <button id="btnCancelChanges" onclick="cancelChanges()" class="btn btn-danger">Cancel Changes</button>
                        </p>
                    </div>
            </div>
        </div>
    </div>
</body>
</html>
