@model List<Stock>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div>
        <table class="table table-bordered table-striped">
            <thead class="bg-info">
                <tr>
                    <th>Stock Id</th>
                    <th>Stock Name</th>
                    <th colspan="2">Options</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                        </td>
                        <td>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
