<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="..\lib\jquery\dist\jquery.js"></script>
    <link rel="stylesheet" href="..\lib\bootstrap\dist\js\bootstrap.js">
    <script>

        const url = "moviejson/allmovies"

        function createRow(movie) {
            const row = `
            <tr>
                <td>${movie.title}</td>
                <td>${movie.description}</td>
                <td>${movie.director}</td>
                <td>${movie.cast}</td>
                <td>${movie.rating}</td>
                <td>
                    <a href="#" class="btn btn-secondary" onClick="onEdit(${movie.id})">Edit
                </td>
                <td>
                    <a href="#" class="btn btn-danger" onClick="onDelete(${movie.id})">Delete
                </td>
            </tr>`
            return row
        }

        function onGetRecordsSuccess(result) {
            $("table tbody tr").remove();
            $.each(result, function (index, value) {
                const row = createRow(value)
                $("table tbody").append(row)
            })
        }

        function showRecords() {
            $.get(url, onGetRecordsSuccess);
        }
        function findRecords() {
            const title = $("#txtSearch").val()
            const findUrl = `MovieJson/Find?title=${title}`
            $.get(findUrl, onGetRecordsSuccess);
        }
        function addRecord() {
            const url = "MovieJson/AddMovie";
            let movie = {
                "title": "The tempest",
                "description": "Classic Movie",
                "director": "Shau Templeton",
                "cast": "Clint Eastwood",
                "rating": 8.5
            }
            $.post(url, movie, (res) => alert(res));
        }

        function onDelete(id) {
            alert("delete")
        }

        function onEdit(id) {
            alert("edit")
        }

        function init() {
            $("#btnShow").click(showRecords);
            $("#btnAdd").click(addRecord);
        }

        $(document).ready(init);
    </script>
</head>
<body style="background-color: bisque">
    <nav class="navbar bg-dark">
        <button id="btnShow" class="btn btn-info m-4">Show records</button>
        <button id="btnAdd" class="btn btn-secondary m-4">Add record</button>
    </nav>
    <h1>Purpose of this app</h1>
    <hr>
    <div>
        <p>This app will call the APIs of the MVC Controller and work with the data</p>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <input type="search" id="txtSearch" placeholder="Search Movie" class="form-control" onchange="findRecords()"/>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Director</th>
                            <th>Cast</th>
                            <th>Rating</th>
                            <th colspan="2">Options</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
