<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="..\lib\jquery\dist\jquery.js"></script>
    <link rel="stylesheet" href="..\lib\bootstrap\dist\js\bootstrap.js">
    <script>

        const url = "moviejson/allmovies"

        function createRow(movie) {
            const row = `
            <tr>
                <td>${movie.id}</td>
                <td>${movie.title}</td>
                <td>${movie.description}</td>
                <td>${movie.director}</td>
                <td>${movie.cast}</td>
                <td>${movie.rating}</td>
                <td>
                    <a href="#" class="btn btn-secondary" onClick="onEdit('${movie.id}')">Edit
                </td>
                <td>
                    <a href="#" class="btn btn-danger" onClick="onDelete(${movie.id})">Delete
                </td>
            </tr>`
            return row
        }

        function onGetRecordsSuccess(result) {
            hideAll();
            $("table").show()
            $("#txtSearch").show()
            $.each(result, function (index, value) {
                const row = createRow(value)
                $("table tbody").append(row)
            })
        }

        function showRecords() {
            $.get(url, onGetRecordsSuccess);
        }

        function findRecords() {
            const title = $("#txtSearch").val()
            const findUrl = `MovieJson/Find?title=${title}`
            $.get(findUrl, onGetRecordsSuccess);
        }

        function addRecord() {
            hideAll()
            $("#divAdd").show()
            $("#txtId").hide()
            $("#lblError").val("")
            onCancel()
        }

        function onUpdate() {
            const id = $("#txtId").val()
            const name = $("#txtName").val()
            const desc = $("#txtDescription").val()
            const director = $("#txtDirector").val()
            const cast = $("#txtCast").val()
            const rating = $("#txtRating").val()

            let movie = {
                "id": id,
                "title": name,
                "description": desc,
                "director": director,
                "cast": cast,
                "rating": rating
            }
            

            const hidden = $("#txtId").is(":hidden");
            if (hidden) {
                const url = "MovieJson/AddMovie";
                $.post(url, movie, (res) => $("#lblError").val(res));
            }
            else {
                const url = "MovieJson/UpdateMovie";
                $.post(url, movie, (res) => $("#lblError").val(res));
            }
        }

        function onCancel() {
            $("input").val("")
        }

        function onDelete(id) {
            let ans = confirm("Are you sure you want to delete this movie?")
            if (ans)
            {
                const url = `MovieJson/DeleteMovie?id=${id}`
                $.post(url, id, (res) => alert(res))
                showRecords()
            }

        }

        function onEdit(id) {
            hideAll()
            $("#divAdd").show()
            const findUrl = `MovieJson/GetMovie?id=${id}`
            $.get(findUrl, populate);
            $("#lblError").val("")
        }

        function populate(movie) {
            $("#txtId").val(movie.id)
            $("#txtName").val(movie.title)
            $("#txtDescription").val(movie.description)
            $("#txtDirector").val(movie.director)
            $("#txtCast").val(movie.cast)
            $("#txtRating").val(movie.rating)
        }

        function hideAll() {
            $("#divAdd").hide()
            $("table").hide()
            $("table tbody tr").remove();
            $("#txtSearch").hide()
        }

        function init() {
            hideAll()
            $("#btnShow").click(showRecords);
            $("#btnAdd").click(addRecord);
        }

        $(document).ready(function () {
            init();
            $("#btnSaveChanges").click(onUpdate);
            $("#btnCancelChanges").click(onCancel);
        });
    </script>
</head>
<body style="background-color: bisque">
    <nav class="navbar bg-dark">
        <button id="btnShow" class="btn btn-info m-4">Show records</button>
        <button id="btnAdd" class="btn btn-secondary m-4">Add record</button>
    </nav>
    <h1>Purpose of this app</h1>
    <hr>
    <div>
        <p>This app will call the APIs of the MVC Controller and work with the data</p>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <input type="search" id="txtSearch" placeholder="Search Movie" class="form-control" onchange="findRecords()"/>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Director</th>
                            <th>Cast</th>
                            <th>Rating</th>
                            <th colspan="2">Options</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <div id="divAdd">
                    <p>
                        <input placeholder="Id" class="form-control" id="txtId" disabled="true" />
                    </p>
                    <p>
                        <input placeholder="Title" required class="form-control" id="txtName" />
                    </p>
                    <p>
                        <input placeholder="Description" required class="form-control" id="txtDescription" />
                    </p>
                    <p>
                        <input placeholder="Director" required class="form-control" id="txtDirector" />
                    </p>
                    <p>
                        <input placeholder="Cast" required class="form-control" id="txtCast" />
                    </p>
                    <p>
                        <input placeholder="Rating" required class="form-control" id="txtRating" />
                    </p>
                    <p>
                        <button id="btnSaveChanges" onclick="addMovie()" class="btn btn-info">Save Changes</button>
                        <button id="btnCancelChanges" onclick="cancelChanges()" class="btn btn-danger">Cancel Changes</button>
                    </p>
                    <p>
                        <label id="lblError"></label>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
